[Desktop Entry]
Version=1.0
Type=Application
Name=SmartGit
Comment=Integrated Development Environment for PHP
Exec=/home/syl/run_smartgit.sh
Icon=/home/syl/smartgit.svg
Terminal=false
Categories=Development;IDE;
